/* #map {
  height: 700px;
} */

/* Container holding the map and the sidebar */
.content {
  display: flex;
}

/* Sidebar styles */
#sidebar {
  width: 350px; /* Adjust based on your preference */
  height: 100vh; /* Full height */
  /* background-color: #f4f4f4; Light grey background */
  background-color: beige;
  padding: 20px; /* Some padding inside the sidebar */
  box-sizing: border-box; /* Makes sure padding doesn't add to the width */
}
.in-line {
  display:inline-block;
  margin-right:5px;
}

/* Map styles */
#map {
  flex-grow: 1; /* Takes up the remaining width */
  height: 100vh; /* Full height */
}
